/* Card margins, padding, color */

/* may need to remove card margin-bottom if I introduce section padding */
.card {
    margin-bottom: 1em;
}

.card-body {
    padding: 0.5em;
}
.card-header {
    padding: 0.5em;
    background-color: rgba(0,0,0,0.05); 
}

/* Table padding */

.table tr td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Remove top border from all td cells of the first tr element in each table */

.table tr:first-child td {
border-top: none;
}

/* Push body down to make room for navbar */
body {
  padding-top: 4.5em;
}


/* Footer sticky and style */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

footer {
    margin-top: 4em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    background-color: rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.075);
}

/* Navbar and nav item custom colors */
.navbar {
    background-color: #004c37!important;
}
/*.nav-link {
    color: #ffffff !important;
}*/
.nav-link:hover {
    background-color: #69be28 !important;
    color: #000000 !important;
}
.dropdown-menu {
    background-color: #004c37 !important;
}
.dropdown-item {
    color: #ffffff;
}
.dropdown-item:hover {
    background-color: #69be28 !important;
    color: #000000;
}

/* Reduce padding around navbar links and brand to shrink navbar */
.nav-link {
    padding-top:0;padding-bottom:0;
}
.navbar-brand {
    padding-top:0;padding-bottom:0;
}
