---
layout: default
title: Federico Galetto - Research
keywords: research
active: research
---
<div class="row">
  <div class="col">
    <section id="interests">
      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Research Interests</h5>
	</div>
	<div class="card-body">
	  My research is in commutative algebra and algebraic geometry, with a focus on minimal free resolutions, and their connections with representation theory and combinatorics. Specific topics of interest include finite group actions on free resolutions and the <a href="references.html#defect">symbolic defect</a> (follow the link for references on the subject). I am also interested in computational methods in commutative algebra and the development of mathematical software.
	</div>
      </div>
    </section>

    <section id="publications">
      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Publications</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <!-- join preprints and articles, then sort by date -->
	    {% assign publist = site.data.publications.refereed | concat: site.data.publications.preprints | sort: 'date' | reverse %}
	    {% for item in publist %}
	    
	    <tr><td>{{ forloop.rindex }}.</td>
	      <td>{{ item.title }}
		<!-- extract coauthors, assuming I'm not last author -->
		{% unless item.authors == "F. Galetto" %}
		 (with {{ item.authors | remove: "F. Galetto, " | remove: "F. Galetto and " }})
		{% endunless %}
		<br>
		{% if item.cite %}
		<a href="{{ item.link }}" target="_blank">{{ item.cite }}</a>
		{% if item.arxiv %}
		 - 
		{% endif %}
		{% endif %}
		{% if item.arxiv %}
		<a href="http://arxiv.org/abs/{{ item.arxiv }}" target="_blank">arXiv:{{ item.arxiv }}</a></td>
		{% endif %}
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </section>
    
    <section id="software">
      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Software</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr>
	      <td><a href="https://github.com/galettof/Jets" target="_blank">Jets</a>, compute jets of various algebraic, geometric and combinatorial objects in <a href="http://www.macaulay2.com" target="_blank">Macaulay2</a>
	      </td>
	    </tr>
	    <tr>
	      <td><a href="https://github.com/galettof/BettiCharacters" target="_blank">BettiCharacters</a>, finite group characters on free resolutions and graded modules in <a href="http://www.macaulay2.com" target="_blank">Macaulay2</a>
	      </td>
	    </tr>
	    <tr>
	      <td><a href="https://github.com/galettof/InvariantRing" target="_blank">InvariantRing</a>, computing invariants of group actions on polynomial rings in <a href="http://www.macaulay2.com" target="_blank">Macaulay2</a>
	      </td>
	    </tr>
	    <tr>
	      <td><a href="https://github.com/galettof/BEMultipliers" target="_blank">BEMultipliers</a>, Buchsbaum-Eisenbud multipliers package for <a href="http://www.macaulay2.com" target="_blank">Macaulay2</a>
	      </td>
	    </tr>
	    <tr>
	      <td><a href="https://github.com/Macaulay2/M2/blob/master/M2/Macaulay2/packages/Points.m2" target="_blank">Points</a>, ideals of points package for <a href="http://www.macaulay2.com" target="_blank">Macaulay2</a>
	      </td>
	    </tr>
	    <tr>
	      <td><a href="https://msp.org/jsag/2015/7-1/p03.xhtml" target="_blank">HighestWeights</a>, equivariant resolutions package for <a href="http://www.macaulay2.com" target="_blank">Macaulay2</a>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </section>

    <section id="expository">
      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Expository</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr>
	      <td>Betti numbers with a dash of representations,
		<a href="https://notes.math.ca/archives/Notesv50n1.pdf#page=16" target="_blank">CMS Notes 50, no. 1, 16, 2018</a></td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </section>

    <section id="talks">
      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Select Talks</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    {% assign talklist = site.data.slides.talks | sort: 'date' | reverse %}
	    {% for item in talklist %}
	    <tr>
	      <td><a href="files/talks/{{ item.file }}">
		  {{ item.title }}</a><br>
		{{ item.place }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </section>
    
    <section id="dissertation">
      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Ph.D. Dissertation</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr>
	      <td>
		Free resolutions of orbit closures for representations with finitely many orbits<br>
		<a href="files/Galetto_thesis.pdf">PDF</a> - 
		<a href="orbits/index.html" target="_blank">M2 files</a> - 
		<a href="http://arxiv.org/abs/1210.6410" target="_blank">arXiv:1210.6410</a>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </section>

  </div>
</div>
