---
layout: default
title: Federico Galetto - Teaching
keywords: teaching
active: teaching
---
<div class="row">
  <div class="col">

    <section id="current">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
	Students currently enrolled in classes may find up to date information on <a href="https://www.csuohio.edu/center-for-elearning/blackboard-login" target="_blank">Blackboard</a>.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>

      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Currently teaching</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr><td>MTH 220 - Introduction to Discrete Mathematics</td></tr>
	    <tr><td>MTH 301 - Number Theory</td></tr>
	  </tbody>
	</table>
      </div>
    </section>

    <section id="mentoring">
      <div class="card">
	<div class="card-header" data-toggle="collapse" href="#collapseMentored" role="button" aria-expanded="false" aria-controls="collapseMentored">
	  <h5 class="mb-0">Students mentored <span class="text-muted">(click to expand)</span></h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr>
	      <td style="width:15%"><span class="font-weight-bold">Name</span></td>
	      <td><span class="font-weight-bold">Course/Position</span></td>
	      <td style="width:40%"><span class="font-weight-bold">Project title</span></td>
	      <td style="width:15%"><span class="font-weight-bold">Term</span></td>
	    </tr>
	    {% assign mentees_top = site.data.mentoring.csu | sort: 'date' | reverse | slice: 0, 5 %}
	    {% for item in mentees_top %}
	    <tr>
	      <td>{{ item.name }}</td>
	      <td>{{ item.course }}</td>
	      <td>{{ item.title }}</td>
	      <td>{{ item.term }}</td>
	    </tr>
	    {% endfor %}
	    {% assign mentees_btm = site.data.mentoring.csu | sort: 'date' | reverse | slice: 5, 9999 %}
	    {% for item in mentees_btm %}
	    <tr class="collapse" id="collapseMentored">
	      <td>{{ item.name }}</td>
	      <td>{{ item.course }}</td>
	      <td>{{ item.title }}</td>
	      <td>{{ item.term }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </section>

    <section id="past">
      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Cleveland State University</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    {% assign csulist = site.data.taught.csu %}
	    {% for item in csulist %}
	    <tr><td><a href="files/syllabi/{{ item.file }}">
		  {{ item.title }}</a></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>

      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">McMaster University</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr>
	      <td>MATH 1AA3 - Calculus II / MATH 1ZB3 - Engineering Mathematics II-A</td>
	    </tr>
	    <tr>
	      <td>MATH 3V03 - Graph Theory</td>
	    </tr>
	    <tr>
	      <td>MATH 3B03 - Geometry</td>
	    </tr>
	    <tr>
	      <td>MATH 702 - Algebra II (Graduate)</td>
	    </tr>
	    <tr>
	      <td>MATH 2R03 - Linear Algebra II</td>
	    </tr>
	    <tr>
	      <td>MATH 1A03 - Calculus for Science I</td>
	    </tr>
	  </tbody>
	</table>
      </div>

      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Queen's University</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr>
	      <td>MATH/MTHE 281 - Introduction to Real Analysis</td>
	    </tr>
	    <tr>
	      <td>APSC 171 - Section 900 - Calculus I</td>
	    </tr>
	    <tr>
	      <td>APSC 171 - Calculus I</td>
	    </tr>
	  </tbody>
	</table>
      </div>

      <div class="card">
	<div class="card-header">
	  <h5 class="mb-0">Northeastern University</h5>
	</div>
	<table class="table notop table-sm mb-0">
	  <tbody>
	    <tr>
	      <td>MATH 1215 - Mathematical Thinking</td>
	    </tr>
	    <tr>
	      <td>MATH 1341 - Calculus 1 for Science and Engineering</td>
	    </tr>
	    <tr>
	      <td>MTH U131 - Calculus for Business and Economics</td>
	    </tr>
	    <tr>
	      <td>Calculus 3 (recitation section)
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </section>

  </div>

</div>
