---
layout: none
title: CV
date: 2025-04-10
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- local copy of bootstrap
	 <link href="bootstrap.min.css" rel="stylesheet">
	 -->
    <!-- MathJax -->
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>
    <!-- local copy of mathjax
	 <script src="tex-chtml.js" id="MathJax-script" async></script>
	 -->
    <!-- Custom styles for this template -->
    <link href="custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-md top-space">

      <div class="row">
	<div class="col-3 d-print-none d-none d-lg-block cv-menu">
	  <div class="d-flex align-items-start flex-column pe-4 position-fixed" style="height: 90vh;">
	    <div class="list-group">
              <a href="#cv" class="list-group-item list-group-item-action p-1 cv-menu-item">Curriculum Vitae</a>
	      <a href="#contact" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Contact Information</a>
	      <a href="#education" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Education</a>
	      <a href="#academic" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Academic Positions</a>
	      <a href="#grants" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Grants and Awards</a>
              <a href="#research" class="list-group-item list-group-item-action p-1 cv-menu-item">Research</a>
	      <a href="#refereed" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Refereed Articles</a>
	      <a href="#preprints" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Preprints</a>
	      <a href="#expository" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Expository Articles</a>
	      <a href="#dissertation" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Dissertations and Theses</a>
	      <a href="#talks" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Academic Talks</a>
	      <a href="#conference" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Conference Attendance</a>
              <a href="#teaching" class="list-group-item list-group-item-action p-1 cv-menu-item">Teaching and Mentoring</a>
	      <a href="#teach-csu" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">At Cleveland State</a>
	      <a href="#teach-mac" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">At McMaster</a>
	      <a href="#teach-queens" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">At Queen's</a>
	      <a href="#teach-neu" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">At Northeastern</a>
	      <a href="#mentoring" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Student Mentoring</a>
              <a href="#service" class="list-group-item list-group-item-action p-1 cv-menu-item">Service and Development</a>
	      <a href="#profession" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">To the Profession</a>
	      <a href="#service-csu" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">At Cleveland State</a>
	      <a href="#service-neu" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">At Northeastern</a>
	      <a href="#referee" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Journal Referee</a>
	      <a href="#affiliations" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Affiliations</a>
	      <a href="#development" class="list-group-item list-group-item-action p-1 px-4 cv-menu-item">Professional Development</a>
	    </div>
	    <!-- <div class="mt-auto p-2">Updated {{ site.time | date: "%B %e, %Y" }}</div> -->
	    <div class="mt-auto p-2">Updated {{ page.date | date: "%B %e, %Y" }}</div>
	  </div>
	</div>

	<div class="col">
	  <div data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">

	    <div class="row pb-5" id="cv">
	      <h1 class="text-center">Federico Galetto</h1>
	      <h2 class="text-center">Curriculum Vitae</h2>
	    </div>
	    
	    <div class="row row-cols-1 g-4">

	      <div class="col">
		<div class="card" id="contact">
		  <div class="card-body p-1">
		    <h5>Contact Information</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tbody>
			<tr>
			  <td style="width: 15%;">Mailing address</td>
			  <td>
			    Cleveland State University - Department of Mathematics and Statistics<br>
			    2121 Euclid Avenue, RT 1515<br>
			    Cleveland, OH 44115-2215<br>
			    United States of America
			  </td>
			</tr>
			<tr>
			  <td>Email address</td>
			  <td><a href="https://math.galetto.org">math.galetto.org</a></td>
			</tr>
			<tr>
			  <td>Website</td>
			  <td><a href="mailto:f.galetto@csuohio.edu">f.galetto@csuohio.edu</a></td>
			</tr>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="education">
		  <div class="card-body p-1">
		    <h5>Education</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tbody>
			<tr>
			  <td style="width: 15%;">2009 - 2013</td>
			  <td><em>Ph.D. in Mathematics</em>, Northeastern University</td>
			</tr>
			<tr>
			  <td>2007 - 2009</td>
			  <td><em>M.S. in Pure Mathematics</em>, Northeastern University</td>
			</tr>
			<tr>
			  <td>2005 - 2008</td>
			  <td><em>Laurea Magistrale in Matematica</em> (M.S. equivalent), Università degli Studi di Torino</td>
			</tr>
			<tr>
			  <td>2001 - 2005</td>
			  <td><em>Laurea in Scienze Matematiche</em> (B.S. equivalent), Università degli Studi di Torino</td>
			</tr>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="academic">
		  <div class="card-body p-1">
		    <h5>Academic Positions</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tbody>
			<tr>
			  <td style="width: 15%;">2023 - present</td>
			  <td><em>Associate Professor</em>, Cleveland State University</td>
			</tr>
			<tr>
			  <td>2025 Spring</td>
			  <td><em>Long Term Visitor</em>, Fields Institute</td>
			</tr>
			<tr>
			  <td>2018 - 2023</td>
			  <td><em>Assistant Professor</em>, Cleveland State University</td>
			</tr>
			<tr>
			  <td>2015 - 2018</td>
			  <td><em>Postdoctoral Fellow</em>, McMaster University</td>
			</tr>
			<tr>
			  <td>2016 Fall</td>
			  <td><em>Long Term Visitor</em>, Fields Institute</td>
			</tr>
			<tr>
			  <td>2013 - 2015</td>
			  <td><em>Coleman Postdoctoral Fellow</em>, Queen's University</td>
			</tr>
			<tr>
			  <td>2007 - 2013</td>
			  <td><em>Teaching Assistant</em>, Northeastern University</td>
			</tr>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="grants">
		  <div class="card-body p-1">
		    <h5>Grants and Awards</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tbody>
			<tr>
			  <td style="width: 15%;">2023</td>
			  <td>Undergraduate Summer Research Award, Cleveland State University, Office of Research<br>
			    <em>Finite Group Actions on Free Resolutions</em>, $4,725</td>
			</tr>
			<tr>
			  <td>2022 - 2025</td>
			  <td>NSF Standard Grant DMS-2200844 (PI)<br>
			    <em>Finite Group Actions on Free Resolutions</em>, $123,410</td>
			</tr>
			<tr>
			  <td>2020 - 2022</td>
			  <td>NSF Conference Grant DMS-2003883 (PI)<br>
			    <em>Macaulay2 Workshop at Cleveland State University</em>, $19,973</td>
			</tr>
			<tr>
			  <td>2020</td>
			  <td>Undergraduate Summer Research Award, Cleveland State University, Office of Research<br>
			    <em>Jets of Graphs</em>, $3,937.50</td>
			</tr>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	    </div>


	    <div class="divider top-page" id="research">
              <div class="divider-text">
		<span><h3>Research</h3></span>
              </div>
	    </div>


	    <div class="row row-cols-1 g-4">

	      <div class="col">
		<div class="card" id="refereed">
		  <div class="card-body p-1">
		    <h5>Refereed Articles</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      {% assign artlist = site.data.publications.refereed | sort: 'date' | reverse %}
		      {% for item in artlist %}
		      <tr>
			<td style="width: 4%;">{{ forloop.rindex }}.</td>
			<td>{{ item.authors }}. {{ item.title }}. <em>{{ item.cite }}</em>.</td>
		      </tr>
		      {% endfor %}
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="preprints">
		  <div class="card-body p-1">
		    <h5>Preprints</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      {% assign prelist = site.data.publications.preprints | sort: 'date' | reverse %}
		      {% for item in prelist %}
		      <tr>
			<td style="width: 4%;">{{ forloop.rindex }}.</td>
			<td>{{ item.authors }}. {{ item.title }}. <em>arXiv:{{ item.arxiv }}</em>.</td>
		      </tr>
		      {% endfor %}
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="expository">
		  <div class="card-body p-1">
		    <h5>Expository Articles</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tr>
			<td style="width: 4%;">1.</td>
			<td>F. Galetto. Betti numbers with a dash of representations. <em>CMS Notes 50, no. 1, 16, 2018</em>.</td>
		      </tr>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col top-page">
		<div class="card" id="dissertation">
		  <div class="card-body p-1">
		    <h5>Dissertations and Theses</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tr>
			<td>2013</td>
			<td><em>Free resolutions of orbit closures for representations with finitely many orbits</em>, Ph.D. Thesis, Northeastern University, supervised by J. Weyman.</td>
		      </tr>
		      <tr>
			<td>2008</td>
			<td><em>Metodi omologici con applicazioni alla teoria degli anelli locali</em>, Tesi di Laurea Magistrale, Università degli Studi di Torino, supervised by M. Roggero.</td>
		      </tr>
		      <tr>
			<td>2005</td>
			<td><em>Curve ellittiche</em>, Tesi di Laurea, Università degli Studi di Torino, supervised by M. Roggero.</td>
		      </tr>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="talks">
		  <div class="card-body p-1">
		    <h5>Academic Talks <small class="text-body-secondary">(&#x2605; denotes an invited talk)</small></h5>      
		    <table class="table table-sm table-striped table-borderless m-0">
		      {% assign talklist = site.data.talks | sort: 'date' | reverse %}
		      {% for talk in talklist %}
		      <tr>
			<td>{% if talk.invited %}&#x2605;{% endif %}</td>
			<td>{{ talk.date | date: "%Y" }}</td>
			<td>{{ talk.date | date: "%b" }}</td>
			<td><em>{{ talk.title }}</em>, {{ talk.location }}</td>
		      </tr>
		      {% endfor %}
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="conference">
		  <div class="card-body p-1">
		    <h5>Conference Attendance</h5>
		    <table class="table table-sm table-striped table-borderless m-0" style="vertical-align: baseline;">
		      {% assign conflist = site.data.conferences | sort: 'date' | reverse %}
		      {% for conference in conflist %}
		      <tr>
			<td style="vertical-align: middle;">{{ conference.date | date: "%Y" }}</td>
			{% case conference.special %}
			{% when nil %}
			<td style="vertical-align: middle;">{{ conference.date | date: "%b" }}</td>
			{% else %}
			<td style="vertical-align: middle;">{{ conference.special }}</td>
			{% endcase %}
			<td style="vertical-align: middle;">{{ conference.event }}</td>
		      </tr>
		      {% endfor %}
		    </table>
		  </div>
		</div>
	      </div>

	    </div>



	    <div class="divider top-page" id="teaching">
              <div class="divider-text">
		<span><h3>Teaching and Mentoring</h3></span>
              </div>
	    </div>

	    <div class="row row-cols-1 g-4">

	      <div class="col">
		<div class="card" id="teach-csu">
		  <div class="card-body p-1">
		    <h5>Teaching At Cleveland State University</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <thead>
			<tr>
			  <th style="width: 15%;">Term</th>
			  <th style="width: 15%;">Course</th>
			  <th>Title</th>
			  <th style="width: 5%;">Enrolled</th>
			</tr>
		      </thead>
		      <tbody>
			{% for class in site.data.teaching.csu %}
			<tr>
			  <td>{{ class.term }}</td>
			  <td>{{ class.course }}</td>
			  <td>{{ class.title }}</td>
			  <td>{{ class.enrolled }}</td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>
	      
	      <div class="col">
		<div class="card" id="teach-mac">
		  <div class="card-body p-1">
		    <h5>Teaching At McMaster University</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <thead>
			<tr>
			  <th style="width: 15%;">Term</th>
			  <th style="width: 15%;">Course</th>
			  <th>Title</th>
			  <th style="width: 5%;">Enrolled</th>
			</tr>
		      </thead>
		      <tbody>
			{% for class in site.data.teaching.mcmaster %}
			<tr>
			  <td>{{ class.term }}</td>
			  <td>{{ class.course }}</td>
			  <td>{{ class.title }}</td>
			  <td>{{ class.enrolled }}</td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="teach-queens">
		  <div class="card-body p-1">
		    <h5 class="card-title">Teaching At Queen's University</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <thead>
			<tr>
			  <th style="width: 15%;">Term</th>
			  <th style="width: 15%;">Course</th>
			  <th>Title</th>
			  <th style="width: 5%;">Enrolled</th>
			</tr>
		      </thead>
		      <tbody>
			{% for class in site.data.teaching.queens %}
			<tr>
			  <td>{{ class.term }}</td>
			  <td>{{ class.course }}</td>
			  <td>{{ class.title }}</td>
			  <td>{{ class.enrolled }}</td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="teach-neu">
		  <div class="card-body p-1">
		    <h5 class="card-title">Teaching At Northeastern University</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <thead>
			<tr>
			  <th style="width: 15%;">Term</th>
			  <th style="width: 15%;">Course</th>
			  <th>Title</th>
			  <th style="width: 5%;">Enrolled</th>
			</tr>
		      </thead>
		      <tbody>
			{% for class in site.data.teaching.neu %}
			<tr>
			  <td>{{ class.term }}</td>
			  <td>{{ class.course }}</td>
			  <td>{{ class.title }}</td>
			  <td>{{ class.enrolled }}</td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	      <div class="col">
		<div class="card" id="mentoring">
		  <div class="card-body p-1">
		    <h5 class="card-title">Student Mentoring</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tbody>
			{% assign projects = site.data.mentoring | sort: 'date' | reverse %}
			{% for item in projects %}
			<tr>
			  <td style="width: 15%;">{{ item.term }}</td>
			  <td>
			    {{ item.students }}. <em>{{ item.title }}</em>,
			    {{ item.project }}.
			  </td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	    </div>


	    <div class="divider top-page" id="service">
              <div class="divider-text">
		<span><h3>Service and Development</h3></span>
              </div>
	    </div>

	    <div class="row row-cols-1 g-4">

	      <div class="col">
		<div class="card" id="profession">
		  <div class="card-body p-1">
		    <h5 class="card-title">Service to the Profession</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <tbody>
			{% for item in site.data.service.external %}
			<tr>
			  <td style="width: 15%;">{{ item.period }}</td>
			  <td>{{ item.name }}</td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>
	      
	      <div class="col">
		<div class="card" id="service-csu">
		  <div class="card-body p-1">
		    <h5 class="card-title">Service at Cleveland State University</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <thead>
			<th style="width: 15%;">Period</th>
			<th style="width: 46%;">Committe</th>
			<th>Unit</th>
		      </thead>
		      <tbody>
			{% for item in site.data.service.csu %}
			<tr>
			  <td>{{ item.period }}</td>
			  <td>{{ item.name }}</td>
			  <td>{{ item.unit }}</td>
			</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>
	      
	      <div class="col">
		<div class="card" id="service-neu">
		  <div class="card-body p-1">
		    <h5 class="card-title">Service at Northeastern University</h5>
		    <table class="table table-sm table-striped table-borderless m-0">
		      <thead>
			<th style="width: 15%;">Period</th>
			<th style="width: 46%;">Committe</th>
			<th>Unit</th>
		      </thead>
		      <tbody>
			<tr>
			  <td>2012 - 2013</td>
			  <td>Mathematics Graduate Student Association</td>
			  <td>Department of Mathematics</td>
			</tr>
			<tr>
			  <td>2012 - 2013</td>
			  <td>Teaching Committee</td>
			  <td>Department of Mathematics</td>
			</tr>
		      </tbody>
		    </table>
		  </div>
		</div>
	      </div>

	    </div><!-- closing div -->
	    

	  </div>
	</div>

      </div>

    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>-->
  </body>
</html>
