/* Card margins and padding */

.card {
    margin-bottom: 1rem;
}

.card-body {
    padding: 0.5rem;
}

.card-header {
    padding: 0.5rem;
}


/* Table padding */

.table tr td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


/* Remove top border from all td cells of the first tr element in each table */

.table tr:first-child td {
border-top: none;
}


/* Navbar background color 004c37 */

.navbar {
    background-color: #004c37!important;
}


/* Push body down to make room for navbar */
body {
  padding-top: 4.5rem;
}


/* Footer sticky and style */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0,0,0,0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.075);
}
