<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site info -->
    <title>{{ page.title }}</title>
    <meta name="author" content="Federico Galetto">
    <meta name="description" content="Federico Galetto's home page and contact information">
    <meta name="keywords" content="Federico Galetto, Galetto, {{ page.keywords }}, math, commutative algebra, free resolutions, Cleveland State University">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- favicon code -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Awesome icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <!-- MathJax -->
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async>
    </script>

  </head>
  <body class="Site">

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
	<div class="container">
	  <a class="navbar-brand" href="index.html">Federico Galetto</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">

	      <li class="nav-item pl-1 pt-2 pt-lg-0 {% if page.active == "contact" %}active{% endif %}">
		<a class="nav-link btn btn-outline-primary py-1" href="index.html" role="button">
		  <span class="fas fa-envelope"></span>
		  &nbsp;Contact
		</a>
	      </li>

	      <li class="nav-item pl-1 pt-2 pt-lg-0 {% if page.active == "bio" %}active{% endif %}">
		<a class="nav-link btn btn-outline-primary py-1" href="bio.html" role="button">
		  <span class="fas fa-user"></span>
		  &nbsp;Bio/CV
		</a>
	      </li>

	      <!--
	      <li class="nav-item pl-1 pt-2 pt-lg-0 {% if page.active == "teaching" %}active{% endif %}">
		<a class="nav-link btn btn-outline-primary py-1" href="teaching.html" role="button">
		  <span class="fas fa-graduation-cap"></span>
		  &nbsp;Teaching
		</a>
	      </li>
	      -->

	      <li class="nav-item dropdown pl-1 pt-2 pt-lg-0" data-toggle="collapse" data-target=".navbar-collapse.show">
		<a class="nav-link dropdown-toggle btn py-1 w-100 {% if page.active == "teaching" %}active{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <span class="fas fa-graduation-cap"></span>
		    &nbsp;Teaching
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		  <a class="dropdown-item" href="teaching.html#current">Current</a>
		  <a class="dropdown-item" href="teaching.html#mentoring">Mentoring</a>
		  <a class="dropdown-item" href="teaching.html#past">Past Courses</a>
		</div>
	      </li>

	      <li class="nav-item dropdown pl-1 pt-2 pt-lg-0" data-toggle="collapse" data-target=".navbar-collapse.show">
		<a class="nav-link dropdown-toggle btn py-1 w-100 {% if page.active == "research" %}active{% endif %}" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <span class="fas fa-book"></span>
		    &nbsp;Research
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
		  <a class="dropdown-item" href="research.html#interests">Interests</a>
		  <a class="dropdown-item" href="research.html#publications">Publications</a>
		  <a class="dropdown-item" href="research.html#software">Software</a>
		  <a class="dropdown-item" href="research.html#expository">Expository</a>
		  <a class="dropdown-item" href="research.html#talks">Select Talks</a>
		  <a class="dropdown-item" href="research.html#dissertation">Dissertation</a>
		</div>
	      </li>

	      <!--
	      <li class="nav-item pl-1 pt-2 pt-lg-0">
		<div class="btn-group d-flex" role="group">
		  <a class="nav-link btn py-1 w-100 {% if page.active == "research" %}active{% endif %}" href="research.html" role="button">
		    <span class="fas fa-book"></span>
		    &nbsp;Research
		  </a>
		  <a class="nav-link btn py-1 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" role="button"></a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		    <a class="dropdown-item" href="research.html#publications">Publications</a>
		    <a class="dropdown-item" href="research.html#software">Software</a>
		    <a class="dropdown-item" href="research.html#expository">Expository</a>
		    <a class="dropdown-item" href="research.html#talks">Select Talks</a>
		    <a class="dropdown-item" href="research.html#dissertation">Dissertation</a>
		  </div>
		</div>
	      </li>
	      -->

            </ul>
	  </div>
	</div>
      </nav>
    </header>

    <main class="Site-content">
      <div class="container body">
	{{ content }}
      </div>
    </main>

    <footer>

      <div class="container">
	<div class="d-flex justify-content-center">
	  <div class="text-muted align-items-center py-1">
	    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
	    &nbsp;&copy; Federico Galetto 2018 - 2024</div>
	</div>
      </div>

    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
  </body>
</html>
